body {
        background-color: #B7B78A;
        
      }

hr {
    width: 5%;
    border-style: dotted none none;
    border-width: 7px;
    border-color: grey;
    border-width: 5px;
    }

h1 {
  color: blue;
}

h3 {
  color: blue;
}